## Jeopardy dataset

## Problem Statement

# About Jeopardy:
Three contestants compete in each show, all attempting to win money by correctly phrasing answers in a form of a question, but realizing the "Jeopardy!" is that they lose money if they are wrong

To use NLP to identify the Category the Question and Answer belongs to.

This is to assist future contenstants in preparing for the game show.

In [3]:
jeopardy_df = pd.read_csv('./Jeopardy Dataset/JEOPARDY_CSV.csv')

In [5]:
jeopardy_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [6]:
jeopardy_df.shape

(216930, 7)

In [15]:
jeopardy_df['Air Date'] = pd.to_datetime(jeopardy_df[' Air Date'])

In [23]:
jeopardy_df['Air Date'].dt.year.value_counts(normalize=True) * 100

2008    6.470290
2007    6.426036
2010    6.341216
2006    6.327387
2009    6.259623
2005    6.250864
1999    6.241645
2000    6.195086
2011    6.166044
2004    6.080302
1998    6.058636
1997    6.038353
2001    5.576453
2003    4.345180
2002    3.161849
1996    2.254644
1990    1.999262
1993    0.982806
1989    0.952842
1992    0.868944
1991    0.665653
1986    0.649518
1988    0.594662
1987    0.587747
1984    0.543493
1995    0.524593
1994    0.523671
2012    0.503849
1985    0.409349
Name: Air Date, dtype: float64

In [9]:
jeopardy_df[' Round'].unique()

array(['Jeopardy!', 'Double Jeopardy!', 'Final Jeopardy!', 'Tiebreaker'],
      dtype=object)

In [40]:
jeopardy_df[[' Question', ' Answer']].loc[700]

 Question    This longest river on the Iberian Peninsula is...
 Answer                                              the Tagus
Name: 700, dtype: object

In [ ]:
## Jeopardy dataset

## Problem Statement

# About Jeopardy:
Three contestants compete in each show, all attempting to win money by correctly phrasing answers in a form of a question, but realizing the "Jeopardy!" is that they lose money if they are wrong

To use NLP to identify the Category the Question and Answer belongs to.

This is to assist future contenstants in preparing for the game show.

jeopardy_df = pd.read_csv('./Jeopardy Dataset/JEOPARDY_CSV.csv')

jeopardy_df.head()

jeopardy_df.shape

jeopardy_df['Air Date'] = pd.to_datetime(jeopardy_df[' Air Date'])

jeopardy_df['Air Date'].dt.year.value_counts(normalize=True) * 100



jeopardy_df[' Round'].unique()

jeopardy_df[[' Question', ' Answer']].loc[700]